@import "_vars"
@import "_fonts"

body 
	font-family: 'Roboto', sans-serif
.header 
	height: 100vh
	width: 100%;
	backgroung-position: center
	background-repeat: no-repeat
	background-size: 
	display: flex
	.container-fluid
		background: #000
		width: 58%
	.wrapper 
		background: red
		width: 21%
	.left-path 
		width: 21%
		background: blue






@import "_media"